<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SOLIDShapes.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>415D03AD1DA494D400767D24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>415D03C41DA494D400767D24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>415D03CF1DA494D500767D24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
